/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu > li {
  display: inline;
  padding-left: 10px;
  font-weight: bold;
  font-size: 15px;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

#prototype {
  min-height: 600px;
  display: block;
  padding-left: 20px;
}

#main {
  min-width: 500px;
  display: inline-block;
  float: left;
}

#sidebar {
  min-width: 200px;
  display: inline-block;
}

market {
  font-size: 13px;
}

market > div > div:first-child {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}

market li {
  display: block;
  border-bottom: 1px solid lightgreen;
  width: 350px;
  line-height: 30px;

}

market li a {
  padding: 2px 5px 2px 5px;
}

market li > div:first-child {
  display: inline-block;
  width: 200px;
}

market li > div:nth-child(2) {
  display: inline-block;
  width: 60px;
  float: right;
}

market li.inSlip a {
  background: #fed22f;
}

betslip > div {
  background: #f2f2f2;
  color: #222222;
  font-size: 12px;
  padding: 10px 3px 10px 3px;
  border: 1px solid lightblue;

}

betslip a:first-child {
  padding: 2px 5px 5px 5px;
  font-size: 12px;
  text-decoration: none;
  color: white;
  background: darkgoldenrod;
}

betslip a:last-child {
  padding: 2px 5px 5px 5px;
  font-size: 12px;
  text-decoration: none;
  color: white;
  background: darkslategrey;
  margin-left: 40px;
}

bet > div {
  margin: 5px 0 5px 0;
  padding: 5px;
  background: lightyellow;
  border: 1px solid lightgrey;
}

bet input {
  width: 80px;
  height: 20px;
}

betslip > div > span {
  font-weight: bold;
  padding-left: 5px;
}

betslip > div > span:nth-child(2) {
  border: 1px solid darkgoldenrod;
  padding: 2px 5px 2px 5px;
  margin-left: 10px;
  border-radius: 50%;
  background: darkgoldenrod;
  color: white;
}

betslip .betslipTotal  {
  padding-top: 10px;
  font-weight: bold;
  font-size: 14px;
}

bet span.remove a {
  float: right;
  width: 8px;
  height: 10px;
  background: darkgoldenrod;
}

div.betPlaced {
  padding-top: 20px;
}

div.betPlaced span {
  font-weight: bold;
  font-size: 13px;
}
